<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soulmates</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/webp" href="/static/icons/logo.webp">
</head>
<body>
    <div class="header">
        <img src="/static/icons/logo.webp" alt="Game Logo">
    </div>
    
    <div class="container">
        <h1>Soulmates</h1>
        <p>Welcome to the Couples Game! This fun and interactive game is designed to help you and your partner discover just how well you know each other. Through a series of engaging questions, you will explore each other's preferences, memories, and unique quirks. Each player takes turns answering questions about themselves, while the other tries to guess the correct answer.</p>
        <p>The goal is simple: to reveal how much you truly know about your partner and maybe even learn something new along the way. It's a lighthearted challenge that encourages open communication, laughter, and maybe even some surprises as you compare your answers! At the end, you will see your compatibility score, showing how well you did as a team.</p>
        <p>Perfect for couples looking to bond, deepen their connection, or simply have a fun time together, this game can be played from anywhere, whether you're in the same room or miles apart. Dive in and see how much you truly know about each other!</p>
        
        
        <div class="image-container">
            <img src="/static/images/center_photo.png" alt="Central Game Photo">
        </div>

        <a href="/start" class="btn">Start Game</a>
    </div>
</body>
</html>
